<h1>The Profile Page</h1>
<div id="starred">
  <%= @user.info[:starred] %>
</div>
<div id="followers">
  <%= @user.info[:followers] %>
</div>
<div id="following">
  <%= @user.info[:following] %>
</div>
<img src="https://avatars.githubusercontent.com/u/11217220?v=3" alt="Whatup" />
