---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/jaredroth
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '14'
      X-Ratelimit-Reset:
      - '1464282727'
      Etag:
      - W/"8af44dfd375676ee677e5f3fdb1cef38"
      Last-Modified:
      - Wed, 27 Apr 2016 23:11:20 GMT
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '{"login":"JaredRoth","id":11217220,"avatar_url":"https://avatars.githubusercontent.com/u/11217220?v=3","gravatar_id":"","url":"https://api.github.com/users/JaredRoth","html_url":"https://github.com/JaredRoth","followers_url":"https://api.github.com/users/JaredRoth/followers","following_url":"https://api.github.com/users/JaredRoth/following{/other_user}","gists_url":"https://api.github.com/users/JaredRoth/gists{/gist_id}","starred_url":"https://api.github.com/users/JaredRoth/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/JaredRoth/subscriptions","organizations_url":"https://api.github.com/users/JaredRoth/orgs","repos_url":"https://api.github.com/users/JaredRoth/repos","events_url":"https://api.github.com/users/JaredRoth/events{/privacy}","received_events_url":"https://api.github.com/users/JaredRoth/received_events","type":"User","site_admin":false,"name":"Jared
        Roth","company":null,"blog":null,"location":null,"email":"jared.roth@gmail.com","hireable":null,"bio":null,"public_repos":29,"public_gists":7,"followers":9,"following":2,"created_at":"2015-02-26T19:00:16Z","updated_at":"2016-04-27T23:11:20Z"}'
  recorded_at: Thu, 26 May 2016 17:10:23 GMT
- request:
    method: get
    uri: https://api.github.com/users/jaredroth/orgs
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '13'
      X-Ratelimit-Reset:
      - '1464282727'
      Etag:
      - '"98f0c1b396a4e5d54f4d5fe561d54b44"'
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 26 May 2016 17:10:23 GMT
- request:
    method: get
    uri: https://api.github.com/users/jaredroth/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '12'
      X-Ratelimit-Reset:
      - '1464282727'
      Etag:
      - W/"6e49595eb44cc9127d2152ea4e53f1ed"
      Last-Modified:
      - Thu, 26 May 2016 16:29:23 GMT
      X-Poll-Interval:
      - '60'
      X-Github-Media-Type:
      - github.v3
      Link:
      - <https://api.github.com/user/11217220/events?page=2>; rel="next", <https://api.github.com/user/11217220/events?page=10>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"4066958633","type":"PushEvent","actor":{"id":11217220,"login":"JaredRoth","display_login":"JaredRoth","gravatar_id":"","url":"https://api.github.com/users/JaredRoth","avatar_url":"https://avatars.githubusercontent.com/u/11217220?"},"repo":{"id":59518662,"name":"JaredRoth/api-curious","url":"https://api.github.com/repos/JaredRoth/api-curious"},"payload":{"push_id":1130726335,"size":1,"distinct_size":1,"ref":"refs/heads/master","head":"c9798c576c73dcf231c6ce8c89a7454f6b82a594","before":"9e275e489b182753eadef8b91cdbf660e6bac293","commits":[{"sha":"c9798c576c73dcf231c6ce8c89a7454f6b82a594","author":{"email":"jared.roth@gmail.com","name":"Jared
        Roth"},"message":"Basic Commit Summaries","distinct":true,"url":"https://api.github.com/repos/JaredRoth/api-curious/commits/c9798c576c73dcf231c6ce8c89a7454f6b82a594"}]},"public":true,"created_at":"2016-05-26T16:29:23Z"},{"id":"4063579978","type":"PushEvent","actor":{"id":11217220,"login":"JaredRoth","display_login":"JaredRoth","gravatar_id":"","url":"https://api.github.com/users/JaredRoth","avatar_url":"https://avatars.githubusercontent.com/u/11217220?"},"repo":{"id":59518662,"name":"JaredRoth/api-curious","url":"https://api.github.com/repos/JaredRoth/api-curious"},"payload":{"push_id":1129469428,"size":1,"distinct_size":1,"ref":"refs/heads/master","head":"9e275e489b182[...]
