---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/jaredroth/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '22'
      X-Ratelimit-Reset:
      - '1464282727'
      Etag:
      - W/"e4700e66733d5d21734118e2a33599e7"
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"jwashke","id":14855129,"avatar_url":"https://avatars.githubusercontent.com/u/14855129?v=3","gravatar_id":"","url":"https://api.github.com/users/jwashke","html_url":"https://github.com/jwashke","followers_url":"https://api.github.com/users/jwashke/followers","following_url":"https://api.github.com/users/jwashke/following{/other_user}","gists_url":"https://api.github.com/users/jwashke/gists{/gist_id}","starred_url":"https://api.github.com/users/jwashke/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jwashke/subscriptions","organizations_url":"https://api.github.com/users/jwashke/orgs","repos_url":"https://api.github.com/users/jwashke/repos","events_url":"https://api.github.com/users/jwashke/events{/privacy}","received_events_url":"https://api.github.com/users/jwashke/received_events","type":"User","site_admin":false},{"login":"notmarkmiranda","id":15822772,"avatar_url":"https://avatars.githubusercontent.com/u/15822772?v=3","gravatar_id":"","url":"https://api.github.com/users/notmarkmiranda","html_url":"https://github.com/notmarkmiranda","followers_url":"https://api.github.com/users/notmarkmiranda/followers","following_url":"https://api.github.com/users/notmarkmiranda/following{/other_user}","gists_url":"https://api.github.com/users/notmarkmiranda/gists{/gist_id}","starred_url":"https://api.github.com/users/notmarkmiranda/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/notmarkmiranda/subscriptions","organizations_url":"https://api.github.com/users/notmarkmiranda/orgs","repos_url":"https://api.github.com/users/notmarkmiranda/repos","events_url":"https://api.github.com/users/notmarkmiranda/events{/privacy}","received_events_url":"https://api.github.com/users/notmarkmiranda/received_events","type":"User","site_admin":false}]'
  recorded_at: Thu, 26 May 2016 17:10:19 GMT
- request:
    method: get
    uri: https://api.github.com/users/notmarkmiranda/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '21'
      X-Ratelimit-Reset:
      - '1464282727'
      Etag:
      - W/"a41e1e25f7e1a0a5c5f731ba6d2bb18f"
      Last-Modified:
      - Thu, 26 May 2016 13:02:13 GMT
      X-Poll-Interval:
      - '60'
      X-Github-Media-Type:
      - github.v3
      Link:
      - <https://api.github.com/user/15822772/events?page=2>; rel="next", <https://api.github.com/user/15822772/events?page=10>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"4065856106","type":"PushEvent","actor":{"id":15822772,"login":"notmarkmiranda","display_login":"notmarkmiranda","gravatar_id":"","url":"https://api.github.com/users/notmarkmiranda","avatar_url":"https://avatars.githubusercontent.com/u/15822772?"},"repo":{"id":59515151,"name":"notmarkmiranda/apicurious","url":"https://api.github.com/repos/notmarkmiranda/apicurious"},"payload":{"push_id":1130326093,"size":1,"distinct_size":1,"ref":"refs/heads/master","head":"8feb3a1529a5378cdcb786617fdf1c225e647161","before":"5c38bee012e8eb26faf5ba5a012c3133c509774a","commits":[{"sha":"8feb3a1529a5378cdcb786617fdf1c225e647161","author":{"email":"notmarkmiranda@gmail.com","name":"Mark
        Miranda"},"message":"add followers and user functionality","distinct":true,"url":"https://api.github.com/repos/notmarkmiranda/apicurious/commits/8feb3a1529a5378cdcb786617fdf1c225e647161"}]},"public":true,"created_at":"2016-05-26T13:02:13Z"},{"id":"4063849497","type":"PushEvent","actor":{"id":15822772,"login":"notmarkmiranda","display_login":"notmarkmiranda","gravatar_id":"","url":"https://api.github.com/users/notmarkmiranda","avatar_url":"https://avatars.githubusercontent.com/u/15822772?"},"repo":{"id":59515151,"name":"notmarkmiranda/apicurious","url":"https://api.github.com/repos/notmarkmiranda/apicurious"},"payload":{"push_id":1129563706,"size":1,"distinct_size":1,"ref":"refs/heads/master","head":"5c38bee012e8eb26faf5ba5a012c3133c509774a","before":"f4509ade379559c026220b01117328bd474ab441","commits":[{"sha":"5c38bee012e8eb26faf5ba5a012c3133c509774a","author":{"email":"notmarkmiranda@gmail.com","name":"Mark
        Miranda"},"message":"figaro issue (#4)","distinct":true,"url":"https://api.github.com/repos/notmarkmiranda/apicurious/commits/5c38bee012e8eb26faf5ba5a012c3133c509774a"}]},"public":true,"created_at":"2016-05-26T02:22:32Z"},{"id":"4063849490","type":"PullRequestEvent","actor":{"id":15822772,"login":"notmarkmiranda","display_login":"notmarkmiranda","gravatar_id":"","url":"https://api.github.com/users/notmarkmiranda","avatar_url":"https://avatars.githubusercontent.com/u/15822772?"},"repo":{"id":59515151,"name":"notmarkmiranda/apicurious","url":"https://api.github.com/repos/notmarkmiranda/apicurious"},"payload":{"action":"closed","number":4,"pull_request":{"url":"https://api.github.com/repos/notmarkmiranda/apicurious/pulls/4","id":71491380,"html_url":"https://github.com/notmarkmiranda/apicurious/pull/4","diff_url":"https://github.com/notmarkmiranda/apicurious/pull/4.diff","patch_url":"https://github.com/notmarkmiranda/apicurious/pull/4.patch","issue_url":"https://api.github.com/repos/notmarkmiranda/apicurious/issues/4","number":4,"state":"closed","locked":false,"title":"figaro
        issue","user":{"login":"notmarkmiranda","id":15822772,"avatar_url":"https://avatars.githubusercontent.com/u/15822772?v=3","gravatar_id":"","url":"https://api.github.com/users/notmarkmiranda","html_url":"https://github.com/notmarkmiranda","followers_url":"https://api.github.com/users/notmarkmiranda/followers","following_url":"https://api.github.com/users/notmarkmiranda/following{/other_user}","gists_url":"https://api.github.com/users/notmarkmiranda/gists{/gist_id}","starred_url":"https://api.github.com/users/notmarkmiranda/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/notmarkmiranda/subscriptions","organizations_url":"https://api.github.com/users/notmarkmiranda/orgs","repos_url":"https://api.github.com/users/notmarkmiranda/repos","events_url":"https://api.github.com/users/notmarkmiranda/events{/privacy}","received_events_url":"https://api.github.com/users/notmarkmiranda/received_events","type":"User","site_admin":false},"body":"","created_at":"2016-05-26T02:22:28Z","updated_at":"2016-05-26T02:22:31Z","closed_at":"2016-05-26T02:22:31Z","merged_at":"2016-05-26T02:22:31Z","merge_commit_sha":"5c38bee012e8eb26faf5ba5a012c3133c509774a","assignee":null,"milestone":null,"commits_url":"https://api.github.com/repos/notmarkmiranda/apicurious/pulls/4/commits","review_comments_url":"https://api.github.com/repos/notmarkmiranda/apicurious/pulls/4/comments","review_comment_url":"https://api.github.com/repos/notmarkmiranda/apicurious/pulls/comments{/number}","comments_url":"https://api.github.com/repos/notmarkmiranda/apicurious/issues/4/comments","statuses_url":"https://api.github.com/repos/notmarkmiranda/apicurious/statuses/608da97fc347da0c3a74c2f37402be90d5b1488a","head":{"label":"notmarkmiranda:bug-squash","ref":"bug-squash","sha":"608da97fc347da0c3a74c2f37402be90d5b1488a","user":{"login":"notmarkmiranda","id":15822772,"avatar_url":"https://avatars.githubusercontent.com/u/15822772?v=3","gravatar_id":"","url":"https://api.github.com/users/notmarkmiranda","html_url":"https://github.com/notmarkmiranda","followers_url":"https://api.github.com/users/notmarkmiranda/followers","following_url":"https://api.github.com/users/notmarkmiranda/following{/other_user}","gists_url":"https://api.github.com/users/notmarkmiranda/gists{/gist_id}","starred_url":"https://api.github.com/users/notmarkmiranda/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/notmarkmiranda/subscriptions","organizations_url":"https://api.github.com/users/notmarkmiranda/orgs","repos_url":"https://api.github.com/users/notmarkmiranda/repos","events_url":"https://api.github.com/users/notmarkmiranda/events{/privacy}","received_events_url":"https://api.github.com/users/notmarkmiranda/received_events","type":"User","site_admin":false},"repo":{"id":59515151,"name":"apicurious","full_name":"notmarkmiranda/apicurious","owner":{"login":"notmarkmiranda","id":15822772,"avatar_url":"https://avatars.githubusercontent.com/u/15822772?v=3","gravatar_id":"","url":"https://api.github.com/users/notmarkmiranda","html_url":"https://github.com/notmarkmiranda","followers_url":"https://api.github.com/users/notmarkmiranda/followers","following_url":"https://api.github.com/users/notmarkmiranda/following{/other_user}","gists_url":"https://api.github.com/users/notmarkmiranda/gists{/gist_id}","starred_url":"https://api.github.com/users/notmarkmiranda/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/notmarkmiranda/subscriptions","organizations_url":"https://api.github.com/users/notmarkmiranda/orgs","repos_url":"https://api.github.com/users/notmarkmiranda/repos","events_url":"https://api.github.com/users/notmarkmiranda/events{/privacy}","received_events_url":"https://api.github.com/users/notmarkmiranda/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/notmarkmiranda/apicurious","description":null,"fork":false,"url":"https://api.github.com/repos/notmarkmiranda/apicurious","forks_url":"https://api.github.com/repos/notmarkmiranda/apicurious/forks","keys_url":"https://api.github.com/repos/notmarkmiranda/apicurious/keys{/key_id}","collaborators_url":"https://api.github.com/repos/notmarkmiranda/apicurious/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/notmarkmiranda/apicurious/teams","hooks_url":"https://api.github.com/repos/notmarkmiranda/apicurious/hooks","issue_events_url":"https://api.github.com/repos/notmarkmiranda/apicurious/issues/events{/number}","events_url":"https://api.github.com/repos/notmarkmiranda/apicurious/events","assignees_url":"https://api.github.com/repos/notmarkmiranda/apicurious/assignees{/user}","branches_url":"https://api.github.com/repos/notmarkmiranda/apicurious/branches{/branch}","tags_url":"https://api.github.com/repos/notmarkmiranda/apicurious/tags","blobs_url":"https://api.github.com/repos/notmarkmiranda/apicurious/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/notmarkmiranda/apicurious/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/notmarkmiranda/apicurious/git/refs{/sha}","trees_url":"https://api.github.com/repos/notmarkmiranda/apicurious/git/trees{/sha}","statuses_url":"https://api.github.com/repos/notmarkmiranda/apicurious/statuses/{sha}","languages_url":"https://api.github.com/repos/notmarkmiranda/apicurious/languages","stargazers_url":"https://api.github.com/repos/notmarkmiranda/apicurious/stargazers","contributors_url":"https://api.github.com/repos/notmarkmiranda/apicurious/contributors","subscribers_url":"https://api.github.com/repos/notmarkmiranda/apicurious/subscribers","subscription_url":"https://api.github.com/repos/notmarkmiranda/apicurious/subscription","commits_url":"https://api.github.com/repos/notmarkmiranda/apicurious/commits{/sha}","git_commits_url":"https://api.github.com/repos/notmarkmiranda/apicurious/git/commits{/sha}","comments_url":"https://api.github.com/repos/notmarkmiranda/apicurious/comments{/number}","issue_comment_url":"https://api.github.com/repos/notmarkmiranda/apicurious/issues/comments{/number}","contents_url":"https://api.github.com/repos/notmarkmiranda/apicurious/contents/{+path}","compare_url":"https://api.github.com/repos/notmarkmiranda/apicurious/compare/{base}...{head}","merges_url":"https://api.github.com/repos/notmarkmiranda/apicurious/merges","archive_url":"https://api.github.com/repos/notmarkmiranda/apicurious/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/notmarkmiranda/apicurious/downloads","issues_url":"https://api.github.com/repos/notmarkmiranda/apicurious/issues{/number}","pulls_url":"https://api.github.com/repos/notmarkmiranda/apicurious/pulls{/number}","milestones_url":"https://api.github.com/repos/notmarkmiranda/apicurious/milestones{/number}","notifications_url":"https://api.github.com/repos/notmarkmiranda/apicurious/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/notmarkmiranda/apicurious/labels{/name}","releases_url":"https://api.github.com/repos/notmarkmiranda/apicurious/releases{/id}","deployments_url":"https://api.github.com/repos/notmarkmiranda/apicurious/deployments","created_at":"2016-05-23T20:12:52Z","updated_at":"2016-05-26T02:16:20Z","pushed_at":"2016-05-26T02:22:32Z","git_url":"git://github.com/notmarkmiranda/apicurious.git","ssh_url":"git@github.com:notmarkmiranda/apicurious.git","clone_url":"https://github.com/notmarkmiranda/apicurious.git","svn_url":"https://github.com/notmarkmiranda/apicurious","homepage":null,"size":445,"stargazers_count":0,"watchers_count":0,"language":"HTML","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":1,"forks":0,"open_issues":1,"watchers":0,"default_branch":"oauth"}},"base":{"label":"notmarkmiranda:master","ref":"master","sha":"f4509ade379559c026220b01117328bd474ab441","user":{"login":"notmarkmiranda","id":15822772,"avatar_url":"https://avatars.githubusercontent.com/u/15822772?v=3","gravatar_id":"","url":"https://api.github.com/users/notmarkmiranda","html_url":"https://github.com/notmarkmiranda","followers_url":"https://api.github.com/users/notmarkmiranda/followers","following_url":"https://api.github.com/users/notmarkmiranda/following{/other_user}","gists_url":"ht[...]
[...]
- request:
    method: get
    uri: https://api.github.com/users/jwashke/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '19'
      X-Ratelimit-Reset:
      - '1464282727'
      Etag:
      - W/"66400e08731b48749b423b069279c5b7"
      Last-M[...]
