---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/jaredroth
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Reset:
      - '1464224668'
      Etag:
      - W/"8af44dfd375676ee677e5f3fdb1cef38"
      Last-Modified:
      - Wed, 27 Apr 2016 23:11:20 GMT
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '{"login":"JaredRoth","id":11217220,"avatar_url":"https://avatars.githubusercontent.com/u/11217220?v=3","gravatar_id":"","url":"https://api.github.com/users/JaredRoth","html_url":"https://github.com/JaredRoth","followers_url":"https://api.github.com/users/JaredRoth/followers","following_url":"https://api.github.com/users/JaredRoth/following{/other_user}","gists_url":"https://api.github.com/users/JaredRoth/gists{/gist_id}","starred_url":"https://api.github.com/users/JaredRoth/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/JaredRoth/subscriptions","organizations_url":"https://api.github.com/users/JaredRoth/orgs","repos_url":"https://api.github.com/users/JaredRoth/repos","events_url":"https://api.github.com/users/JaredRoth/events{/privacy}","received_events_url":"https://api.github.com/users/JaredRoth/received_events","type":"User","site_admin":false,"name":"Jared
        Roth","company":null,"blog":null,"location":null,"email":"jared.roth@gmail.com","hireable":null,"bio":null,"public_repos":29,"public_gists":7,"followers":9,"following":2,"created_at":"2015-02-26T19:00:16Z","updated_at":"2016-04-27T23:11:20Z"}'
  recorded_at: Thu, 26 May 2016 00:22:40 GMT
[...]
