<nav>
  <div class="nav-wrapper">
    <div class="bar">
      <a class="brand-logo">API Curious</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
          <% if current_user %>
            Welcome, <%= current_user.username %>
          <% else %>
            <%= link_to "Login", flickr_login_path %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
